<header class="w-full py-[23px] px-[2.5%] flex justify-between border-y-[3px] border-black">
  <div class="gap-[60px] flex items-center">
    <a class="font-semibold text-[20px] cursor-pointer">Home</a>
    <a class="font-semibold text-[20px] cursor-pointer">Find a store</a>
    <a class="font-semibold text-[20px] cursor-pointer">Costumer Service</a>
  </div>
  <div class="flex items-center gap-[45px]">
    <app-cart-button/>
    <a class="font-semibold text-[16px] cursor-pointer">Log-In</a>
    <app-button text="Sign-Up" width="139px"/>
  </div>
</header>
